body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #004080;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-right: 100px;
}

nav a {
  color: white;
  text-decoration: none;
}


section {
  padding: 10px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #004080;
}

.project {
  margin-bottom: 30px;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.link{
    text-decoration: none;
    color: #0000EE;
}

.homeicon{
    height: 40px;
    width: 40px;
}

footer {
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}
